@*
  <copyright file="Login.razor" company="Beniamin Jitca">
   Copyright (c) Beniamin Jitca. All rights reserved.
  </copyright>
*@

@page "/login"

@inject IAuthenticationService AuthService
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavManager

<div>
    <div class="container page">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="mb-3 text-xs-center">Sign in</h1>
                <EditForm Model="@loginCommand" OnValidSubmit="ExecuteLogin">
                    <FluentValidationValidator />

                    <fieldset class="mt-3 form-group">
                        <div>
                            <MudTextField class="form-control form-control-lg" InputType="InputType.Email"
                                @bind-Value="loginCommand.Email" Label="Email"
                                For="@(() => loginCommand.Email)"
                                Variant="Variant.Outlined"></MudTextField>
                        </div>
                    </fieldset>
                    <fieldset class="mt-2 form-group">
                        <div>
                            <MudTextField InputType="@TxtType" class="form-control form-control-lg"
                                @bind-Value="loginCommand.Password" Label="Password"
                                For="@(() => loginCommand.Password)"
                                Variant="Variant.Outlined"></MudTextField>
                        </div>
                        <span>
                            <MudCheckBox @bind-Checked="@showPassword" Color="Color.Primary" @onclick="ShowPassword" />
                            Show Password
                        </span>
                    </fieldset>
                    <fieldset class="mt-3 text-xs-center">
                        <MudLink Href="reset-password" Underline="Underline.None"><strong>Forgot your password?</strong></MudLink>
                    </fieldset>
                    <MudButton class="mt-3 btn btn-lg btn-primary pull-xs-right"
                        Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Login"
                        Color="Color.Primary" ButtonType="MudBlazor.ButtonType.Submit">
                            Login
                    </MudButton>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    private LoginCommand loginCommand = new();

    public MudBlazor.InputType TxtType = InputType.Password;
    public bool showPassword { get; set; } = false;

    /// <summary>
    /// Initialize the component on load.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        var authstate = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authstate.User;
        if (user.Identity.IsAuthenticated)
        {
            NavManager.NavigateTo("/");
        }
    }

    /// <summary>
    /// Show the password.
    /// </summary>
    public void ShowPassword() 
    {
        if(showPassword == false)
        {
            TxtType = InputType.Text;
        }
        else
        {
            TxtType = InputType.Password;
        }
    }

    /// <summary>
    /// Login the user.
    /// </summary>
    private async Task ExecuteLogin()
    {
        var result = await AuthService.Login(loginCommand);
        if (result is not null)
        {
            NavManager.NavigateTo("/");
        }
    }
}

<style>
   .e-input-eye:before {
        content: '\e345';
        font-family: e-icons;
        font-size: 13px;
    }
</style>
