@page "/register"

@inject NavigationManager NavManager
@inject IAuthenticationService AuthenticationService
@inject IRoleService RoleService
@inject AuthenticationStateProvider AuthStateProvider

<div class="auth-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="mb-3 text-xs-center">Sign up</h1>

                <EditForm Model="@registerCommand" OnValidSubmit="ExecuteRegister">
                    <FluentValidationValidator />

                    <fieldset class="mt-3 form-group">
                        <div>
                            <MudTextField class="form-control form-control-lg" InputType="InputType.Text"
                                @bind-Value="registerCommand.FirstName" Label="FirstName"
                                For="@(() => registerCommand.FirstName)"
                                Variant="Variant.Outlined"></MudTextField>
                        </div>
                    </fieldset>
                    <fieldset class="mt-3 form-group">
                        <div>
                            <MudTextField class="form-control form-control-lg" InputType="InputType.Text"
                                @bind-Value="registerCommand.LastName" Label="LastName"
                                For="@(() => registerCommand.LastName)"
                                Variant="Variant.Outlined"></MudTextField>
                        </div>
                    </fieldset>
                    <fieldset class="mt-3 form-group">
                        <div>
                            <MudTextField class="form-control form-control-lg" InputType="InputType.Email"
                                @bind-Value="registerCommand.Email" Label="Email"
                                For="@(() => registerCommand.Email)"
                                Variant="Variant.Outlined"></MudTextField>
                        </div>
                    </fieldset>
                    <fieldset class="mt-3 form-group">
                        <div>
                            <MudTextField class="form-control form-control-lg" InputType="InputType.Password"
                                @bind-Value="registerCommand.Password" Label="Password"
                                For="@(() => registerCommand.Password)"
                                Variant="Variant.Outlined"></MudTextField>
                        </div>
                    </fieldset>
                    <fieldset class="mt-3 form-group">
                        <div>
                            <MudTextField class="form-control form-control-lg" InputType="InputType.Password"
                                @bind-Value="registerCommand.ConfirmPassword" Label="ConfirmPassword"
                                For="@(() => registerCommand.ConfirmPassword)"
                                Variant="Variant.Outlined"></MudTextField>
                        </div>
                    </fieldset>
                    <MudButton class="mt-3 btn btn-lg btn-primary pull-xs-right"
                        Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.AppRegistration"
                        Color="Color.Primary" ButtonType="MudBlazor.ButtonType.Submit">
                            Register
                    </MudButton>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    private RegisterCommand registerCommand = new();

    protected override async Task OnInitializedAsync()
    {
        var authstate = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authstate.User;
        if (user.Identity.IsAuthenticated)
        {
            NavManager.NavigateTo("/");
        }
    }

    private async Task ExecuteRegister()
    {
        var result = await AuthenticationService.Register(registerCommand);
        if (result is not null)
        {
            NavManager.NavigateTo("/");
        }
    }
}
