@*
  <copyright file="Roles.razor" company="Beniamin Jitca">
   Copyright (c) Beniamin Jitca. All rights reserved.
  </copyright>
*@

@page "/admin/roles"

@attribute [Authorize(Policy = StringRoleResources.Admin)]

@inject IRoleService RoleService
@inject NavigationManager NavManager
@inject HttpInterceptorService Interceptor

<h1 class="display-3 font-weight-bold mb-0 text-primary mb-3">Roles List</h1>

<div class="row mb-4">
    <div class="col">
        <MatButtonLink Href="admin/roles/add" Raised="true">Add Role</MatButtonLink>
    </div>
</div>

@if (rolesList is null)
{
    <div class="d-flex justify-content-center" style="margin-top: 100px;">
        <h4 style="font-size: 45px;"><em>Loading the data...</em></h4>
    </div>
}
else
{
    @if (rolesList.Count > 0)
    {
        <MatTable Items="@rolesList" LoadInitialData="true" Striped="true" AllowSelection="true"
            RowClass="tester" FilterByColumnName="Name" DebounceMilliseconds="150" class="mat-elevation-z5">
            <MatTableHeader>
                <th>Id</th>
                <th class="col-md-3">Name</th>
                <th class="col-md-3">NormalizedName</th>
                <th class="col-md-6">Actions</th>
            </MatTableHeader>

            <MatTableRow>
                <td>@String.Format("{0:d}", @context.Id)</td>
                <td class="col-md-3">@context.Name</td>
                <td class="col-md-3">@context.NormalizedName</td>
                <td class="col-md-6">
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Edit"
                        Color="Color.Success" @onclick="() => NavigateToPage(context.Id)">
                        Edit
                    </MudButton>
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete"
                        Color="Color.Error" @onclick="(() => { DeleteConfirm(context.Id); ModalShow(); })">
                        Delete
                    </MudButton>
                </td>
            </MatTableRow>
        </MatTable>

        @if (showModal)
        {
            <div class="modal fade show" id="myModal" style="display:block; margin-top: 150px;" aria-modal="true" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Delete role</h3>
                            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Close"
                                Color="Color.Warning" @onclick="@ModalCancel"
                                data-bs-dismiss="modal" aria-label="Close">
                                Close
                            </MudButton>
                        </div>
                        <div class="modal-body">
                            <h4>Do you want to delete this role?</h4>
                        </div>
                        <div class="modal-footer">
                            <MudButton class="mr-2" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete"
                                Color="Color.Error" @onclick="(async () => { await DeleteRole(role.Id); ModalOk(); })">
                                Delete
                            </MudButton>
                            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel"
                                Color="Color.Warning" @onclick="@ModalCancel">
                                Cancel
                            </MudButton>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="d-flex justify-content-center" style="margin-top: 150px;">
            <h4 style="font-size: 45px;">No record found</h4>
        </div>
    }
}

@code {
    bool showModal = false;

    void ModalShow() => showModal = true;
    void ModalCancel() => showModal = false;
    void ModalOk() => showModal = false;

    protected RoleResponse role = new();
    protected string SearchString { get; set; } = string.Empty;

    protected List<RoleResponse> rolesList { get; set; }
    protected List<RoleResponse> searchRolesData { get; set; }

    public void Dispose() => Interceptor.DisposeEvent();

    /// <summary>
    /// Initialize the component on load.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        Interceptor.RegisterEvent();
        await GetRolesForAdmin();
    }

    /// <summary>
    /// Get the admin roles.
    /// </summary>
    protected async Task GetRolesForAdmin()
    {
        rolesList = await RoleService.GetRolesForAdmin();
        searchRolesData = rolesList;
    }

    /// <summary>
    /// Filter the roles.
    /// </summary>
    protected void FilterRoles()
    {
        if (!string.IsNullOrEmpty(SearchString))
        {
            rolesList = searchRolesData.Where(x => x.Name.IndexOf(SearchString, StringComparison.OrdinalIgnoreCase) != -1).ToList();
        }
        else
        {
            rolesList = searchRolesData;
        }
    }

    /// <summary>
    /// Confirm the delete operation.
    /// </summary>
    protected void DeleteConfirm(int Id)
    {
        role = rolesList.FirstOrDefault(x => x.Id == Id);
    }

    /// <summary>
    /// Delete the role.
    /// </summary>
    protected async Task DeleteRole(int Id)
    {
        await RoleService.DeleteRole(Id);
        await GetRolesForAdmin();
    }

    /// <summary>
    /// Reset the search filter.
    /// </summary>
    public void ResetSearch()
    {
        SearchString = string.Empty;
        rolesList = searchRolesData;
    }

    /// <summary>
    /// Navigate.
    /// </summary>
    private void NavigateToPage(int id)
    {
        NavManager.NavigateTo($"admin/roles/edit/{id}");
    }
}

<style>
    label {
        width: 70%;
    }
</style>
