@*
  <copyright file="AddEditClothe.razor" company="Beniamin Jitca">
   Copyright (c) Beniamin Jitca. All rights reserved.
  </copyright>
*@

@page "/admin/clothes/add"
@page "/admin/clothes/edit/{Id:int}"

@attribute [Authorize(Policy = StringRoleResources.Admin)]

@inject IClotheService ClotheService
@inject NavigationManager NavManager

<h1>@Title Clothe</h1>
<hr />

<EditForm Model="@clothe" OnValidSubmit="SaveClothe">
    <FluentValidationValidator />

    <div class="mb-3">
        <div class="col-md-4">
            <MudTextField class="form-control" InputType="InputType.Text"
                @bind-Value="clothe.Name" Label="Name"
                For="@(() => clothe.Name)"
                Variant="Variant.Outlined"></MudTextField>
        </div>
    </div>
    <div class="mb-3">
        <div class="col-md-4">
            <MudTextField class="form-control" InputType="InputType.Text"
                @bind-Value="clothe.Description" Label="Description"
                For="@(() => clothe.Description)"
                Lines="5"
                Variant="Variant.Outlined"></MudTextField>
        </div>
    </div>
    <div class="mb-3">
        <div class="col-md-4">
            <MudTextField class="form-control" InputType="InputType.Number"
                @bind-Value="clothe.Price" Label="Price"
                For="@(() => clothe.Price)"
                Min="1"
                Variant="Variant.Outlined"></MudTextField>
        </div>
    </div>
    <div class="mb-3">
        <div class="col-md-4">
            <MudTextField class="form-control" InputType="InputType.Number"
                @bind-Value="clothe.Amount" Label="Amount"
                For="@(() => clothe.Amount)"
                Min="1"
                Variant="Variant.Outlined"></MudTextField>
        </div>
    </div>
    <div class="mb-3">
        <div class="col-md-4">
            <MudTextField class="form-control" InputType="InputType.Text"
                @bind-Value="clothe.ImageName" Label="ImageName"
                For="@(() => clothe.ImageName)"
                Variant="Variant.Outlined"></MudTextField>
        </div>
    </div>
    <div class="mb-3">
        <div class="col-md-4">
            <MudTextField class="form-control" InputType="InputType.Text"
                @bind-Value="clothe.ImagePath" Label="ImagePath"
                For="@(() => clothe.ImagePath)"
                Variant="Variant.Outlined"></MudTextField>
        </div>
    </div>

    <div class="form-group">
        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Primary" ButtonType="MudBlazor.ButtonType.Submit">
            Save
        </MudButton>
        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" Color="Color.Error" @onclick="Cancel">
            Cancel
        </MudButton>
    </div>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }
    protected string Title = "Add";
    public ClotheResponse clothe = new();

    protected override void OnInitialized() { }

    /// <summary>
    /// .
    /// </summary>
    protected override async Task OnParametersSetAsync()
    {
        if (Id != 0)
        {
            Title = "Edit";
            clothe = await ClotheService.GetClothe(Id);
        }
    }

    /// <summary>
    /// .
    /// </summary>
    protected async Task SaveClothe()
    {
        RequestResponse result = new RequestResponse();
        if (clothe.Id != 0)
        {
            result = await ClotheService.UpdateClothe(clothe);
        }
        else
        {
            result = await ClotheService.AddClothe(clothe);
        }
        if (result.Successful)
        {
            Cancel();
        }
    }

    /// <summary>
    /// .
    /// </summary>
    public void Cancel()
    {
        NavManager.NavigateTo("/admin/clothes");
    }
}
