@page "/admin/clothes/add"
@page "/admin/clothes/edit/{Id:int}"

@attribute [Authorize(Policy = StringRoleResources.Admin)]

@inject IClotheService ClotheService
@inject NavigationManager NavManager

<h1>@Title Clothe</h1>
<hr />

<EditForm Model="@clothe" OnValidSubmit="SaveClothe">
    <FluentValidationValidator />

    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="clothe.Name" />
        </div>
        <ValidationMessage For="@(() => clothe.Name)" />
        @if (nameError.Length > 0)
        {
            <div class="col-md-4" role="alert">
                <p class="alert alert-danger">@nameError</p>
            </div>
        }
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <div class="col-md-4">
            <InputTextArea class="form-control" @bind-Value="clothe.Description" />
        </div>
        <ValidationMessage For="@(() => clothe.Description)" />
        @if (descriptionError.Length > 0)
        {
            <div class="col-md-4" role="alert">
                <p class="alert alert-danger">@descriptionError</p>
            </div>
        }
    </div>
    <div class="mb-3">
        <label for="Price" class="form-label">Price</label>
        <div class="col-md-4">
            <InputNumber class="form-control" Min="1" @bind-Value="clothe.Price" />
        </div>
        <ValidationMessage For="@(() => clothe.Price)" />
    </div>
    <div class="mb-3">
        <label for="Amount" class="form-label">Amount</label>
        <div class="col-md-4">
            <InputNumber Min="1" class="form-control" @bind-Value="clothe.Amount" />
        </div>
        <ValidationMessage For="@(() => clothe.Amount)" />
    </div>
    <div class="mb-3">
        <label for="ImageName" class="form-label">ImageName</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="clothe.ImageName" />
        </div>
        <ValidationMessage For="@(() => clothe.ImageName)" />
        @if (imageNameError.Length > 0)
        {
            <div class="col-md-4" role="alert">
                <p class="alert alert-danger">@imageNameError</p>
            </div>
        }
    </div>
    <div class="mb-3">
        <label for="ImagePath" class="form-label">ImagePath</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="clothe.ImagePath" />
        </div>
        <ValidationMessage For="@(() => clothe.ImagePath)" />
        @if (imagePathError.Length > 0)
        {
            <div class="col-md-4" role="alert">
                <p class="alert alert-danger">@imagePathError</p>
            </div>
        }
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }
    protected string Title = "Add";
    public ClotheResponse clothe = new();

    private string nameError = "";
    private string descriptionError = "";
    private string imageNameError = "";
    private string imagePathError = "";

    protected override void OnInitialized() { }

    protected override async Task OnParametersSetAsync()
    {
        if (Id != 0)
        {
            Title = "Edit";
            clothe = await ClotheService.GetClothe(Id);
        }
    }

    protected async Task SaveClothe()
    {
        RequestResponse result = new RequestResponse();
        if (CheckFormValidation())
        {
            if (clothe.Id != 0)
            {
                result = await ClotheService.UpdateClothe(clothe);
            }
            else
            {
                result = await ClotheService.AddClothe(clothe);
            }
            if (result.Successful)
            {
                Cancel();
            }
        }
    }

    public void Cancel()
    {
        NavManager.NavigateTo("/admin/clothes");
    }

    private bool CheckFormValidation()
    {
        var isValid = true;
        nameError = ""; descriptionError = ""; imageNameError = ""; imagePathError = "";

        if (clothe.Name == null || clothe.Name?.Trim().Length < 3)
        {
            nameError = "The name must contain at least 3 characters.";
            isValid = false;
        }
        if (clothe.Description == null || clothe.Description?.Trim().Length < 10)
        {
            descriptionError = "The description must contain at least 10 characters.";
            isValid = false;
        }
        if (clothe.ImageName == null || clothe.ImageName?.Trim().Length < 4)
        {
            imageNameError = "The image name must contain at least 4 characters.";
            isValid = false;
        }
        if (clothe.ImagePath == null || clothe.ImagePath?.Trim().Length < 4)
        {
            imagePathError = "The image path must contain at least 4 characters.";
            isValid = false;
        }

        return isValid;
    }
}
