@page "/admin/musics/add"
@page "/admin/musics/edit/{Id:int}"

@attribute [Authorize(Policy = StringRoleResources.Admin)]

@inject IMusicService MusicService
@inject NavigationManager NavManager

<h1>@Title Music</h1>
<hr />

<EditForm Model="@music" OnValidSubmit="SaveMusic">
    <FluentValidationValidator />

    <div class="mb-3">
        <div class="col-md-4">
            <MudTextField class="form-control" InputType="InputType.Text"
                @bind-Value="music.Title" Label="Title"
                For="@(() => music.Title)"
                Variant="Variant.Outlined"></MudTextField>
        </div>
    </div>
    <div class="mb-3">
        <div class="col-md-4">
            <MudTextField class="form-control" InputType="InputType.Text"
                @bind-Value="music.Description" Label="Description"
                For="@(() => music.Description)"
                Variant="Variant.Outlined"></MudTextField>
        </div>
    </div>
    <div class="mb-3">
        <div class="col-md-4">
            <MudTextField class="form-control" InputType="InputType.Text"
                @bind-Value="music.Author" Label="Author"
                For="@(() => music.Author)"
                Variant="Variant.Outlined"></MudTextField>
        </div>
    </div>
    <div class="mb-3">
        <div class="col-md-4">
            <MatDatePicker @bind-Value="@music.DateRelease" Format="dd/MM/yyyy"></MatDatePicker>
        </div>
    </div>
    <div class="mb-3">
        <div class="col-md-4">
            <MudTextField class="form-control" InputType="InputType.Text"
                @bind-Value="music.ImageName" Label="ImageName"
                For="@(() => music.ImageName)"
                Variant="Variant.Outlined"></MudTextField>
        </div>
    </div>
    <div class="mb-3">
        <div class="col-md-4">
            <MudTextField class="form-control" InputType="InputType.Text"
                @bind-Value="music.ImagePath" Label="ImagePath"
                For="@(() => music.ImagePath)"
                Variant="Variant.Outlined"></MudTextField>
        </div>
    </div>
    <div class="mb-3">
        <div class="col-md-4">
            <MudTextField class="form-control" InputType="InputType.Text"
                @bind-Value="music.AccessLevel" Label="AccessLevel"
                For="@(() => music.AccessLevel)"
                Variant="Variant.Outlined"></MudTextField>
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 25px;">
        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Primary" ButtonType="MudBlazor.ButtonType.Submit">
            Save
        </MudButton>
        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" Color="Color.Error" @onclick="Cancel">
            Cancel
        </MudButton>
    </div>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }
    protected string Title = "Add";
    public MusicResponse music = new();

    protected override void OnInitialized() { }

    protected override async Task OnParametersSetAsync()
    {
        if (Id != 0)
        {
            Title = "Edit";
            music = await MusicService.GetMusic(Id);
        }
    }

    protected async Task SaveMusic()
    {
        RequestResponse result = new RequestResponse();
        if (music.Id != 0)
        {
            result = await MusicService.UpdateMusic(music);
        }
        else
        {
            result = await MusicService.AddMusic(music);
        }
        if (result.Successful)
        {
            Cancel();
        }
    }

    public void Cancel()
    {
        NavManager.NavigateTo("/admin/musics");
    }
}
