@page "/pizza/{Id:int}"

@inject PizzaService PizzaService
@attribute [Authorize]

<div class="media">
    <div class="media-img-big-wrapper mr-2">
        <img class="media-img-big" src="@pizza.ImagePath" alt="@pizza.ImageName" />
    </div>
    <div class="media-body">
        <h2 class="mb-0">@pizza.Name</h2>
        <p>@pizza.Description</p>
        <h4 class="price">
            $ @pizza.Price
        </h4>
    </div>
    <br/>
    <div>
        <NavLink class="nav-link" href="pizza">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Go Back
        </NavLink>
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private PizzaResponse pizza = new();
    private int currentEditionId = 1;

    protected override void OnParametersSet()
    {
        if (Id != 0)
        {
            pizza = PizzaService.GetPizzaData(Id);            
        }
    }
}
