@*
  <copyright file="OrderView.razor" author="Beniamin Jitca">
   Copyright (c) Beniamin Jitca. All rights reserved.
  </copyright>
*@

@page "/orders/view/{Id:int}"

@attribute [Authorize(Policy = StringRoleResources.Customer)]

@inject AuthenticationStateProvider AuthStateProvider
@inject IOrderService OrderService
@inject NavigationManager NavManager
@inject HttpInterceptorService Interceptor

@if (order.Id > 0)
{
    <section>
        <div class="container py-5">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="w-75 col-lg-8 col-xl-6">
                    <div class="card border-top border-bottom border-3" style="border-color: #f37a27 !important;">
                        <div class="card-body p-5">
                            <p class="lead fw-bold mb-5" style="color: #f37a27;">View Order Details</p>
                            <div class="row">
                                <div class="col mb-3">
                                    <p class="small text-muted mb-1">@order.OrderDate</p>
                                </div>
                                <div class="col mb-3">
                                    <p class="small text-muted mb-1">@order.OrderName</p>
                                </div>
                            </div>

                            <div class="px-5" style="background-color: #f2f2f2;">
                                <div class="row">
                                    <div class="mt-2 text-primary col-md-4 col-lg-6">
                                        <p>Name</p>
                                    </div>
                                    <div class="mt-2 text-primary col-md-4 col-lg-3">
                                        <p>AmountTotal</p>
                                    </div>
                                    <div class="mt-2 text-primary col-md-4 col-lg-3">
                                        <p>Quantity</p>
                                    </div>
                                </div>
                            </div>

                            @if (orderItems.Count > 0)
                            {
                                @foreach (var item in orderItems)
                                {
                                    <div class="px-5" style="background-color: #f2f2f2;">
                                        <div class="row">
                                            <div class="col-md-4 col-lg-6">
                                                <p>@item.Name</p>
                                            </div>
                                            <div class="col-md-4 col-lg-3">
                                                <p>@item.AmountTotal</p>
                                            </div>
                                            <div class="col-md-4 col-lg-3">
                                                <p>@item.Quantity</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="px-5" style="background-color: #f2f2f2;">
                                    <div class="row">
                                        <div class="col-md-4 col-lg-6">
                                            <p>No order items found</p>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="row my-4">
                                <div class="col-md-8 offset-lg-4">
                                    <p class="col-md-6lead fw-bold mb-0 mr-2" style="color: #f37a27;">Total Amount Paid: $ @order.AmountTotal</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <div class="d-flex justify-content-center" style="margin-top: 150px;">
        <h4 style="font-size: 45px;">No record found</h4>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    protected string UserEmail { get; set; }
    protected OrderResponse order = new();
    protected List<InvoiceResponse> orderItems = new();

    public void Dispose() => Interceptor.DisposeEvent();

    /// <summary>
    /// .
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        Interceptor.RegisterEvent();
        var authstate = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authstate.User;
        if (!user.Identity.IsAuthenticated) return;
        UserEmail = user.Claims.FirstOrDefault(x => x.Type == StringRoleResources.EmailClaim).Value;
    }

    /// <summary>
    /// .
    /// </summary>
    protected override async Task OnParametersSetAsync()
    {
        if (Id != 0)
        {
            order = await OrderService.GetOrder(Id, UserEmail);
            orderItems = JsonSerializer.Deserialize<List<InvoiceResponse>>(
                order.LineItems,
                new JsonSerializerOptions { PropertyNameCaseInsensitive = true }
            );
        }
    }

    /// <summary>
    /// .
    /// </summary>
    private void GoBack()
    {
        NavManager.NavigateTo("/orders");
    }
}
