@page "/profile"

@attribute [Authorize]

@inject AuthenticationStateProvider AuthStateProvider
@inject IUserService UserService
@inject IAccountService AccountService

<h1>User Profile</h1>

<div class="container rounded bg-white">
    <div class="row">
        <div class="col-md-2 border-right ml-2 mt-3">
            <div class="d-flex flex-column align-items-center text-center p-3 p-5">
                <img class="rounded-circle" width="150px" src="images/user-profile.png">
                <span class="font-weight-bold" style="margin-top: 10px;">@userData.Username</span>
            </div>
        </div>
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column p-3 py-5" style="margin-top: 55px; margin-left: 50px;">
                <p class="font-weight-bold">FirstName : @userData.FirstName</p>
                <p class="font-weight-bold">LastName : @userData.LastName</p>
                <p class="font-weight-bold">Email : @userData.Email</p>
                <span></span>
            </div>
        </div>
        <div class="col-md-3 border-right" style="margin-left: 50px; border: 5px dashed red;">
             <h4 class="text-right text-danger">DANGER ZONE</h4>
            <div class="d-flex flex-column p-3 py-5" style="margin-top: 55px; margin-left: 50px;">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <button class="btn btn-danger" @onclick="(() => { ModalShow(); })">
                        Change Email
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <EditForm Model="@userData" OnValidSubmit="UpdateUser">
                    <DataAnnotationsValidator />
                    <div class="row mt-3">
                        <div class="mb-3">
                            <label for="FirstName" class="form-label">FirstName</label>
                            <div class="col-md-12">
                                <InputText class="form-control" @bind-Value="userData.FirstName" />
                            </div>
                            <ValidationMessage For="@(() => userData.FirstName)" />
                        </div>
                        <div class="mb-3">
                            <label for="LastName" class="form-label">LastName</label>
                            <div class="col-md-12">
                                <InputText class="form-control" @bind-Value="userData.LastName" />
                            </div>
                            <ValidationMessage For="@(() => userData.LastName)" />
                        </div>
                        <div class="mb-3">
                            <label for="Email" class="form-label">Email</label>
                            <div class="col-md-12">
                                <InputText class="form-control" Disabled="true" @bind-Value="userData.Email" />
                            </div>
                            <ValidationMessage For="@(() => userData.Email)" />
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary profile-button" type="submit">Save Changes</button>
                    </div>
                </EditForm>
            </div>
        </div>

        <div class="col-md-4" style="margin-left: 35px; margin-top: -10px;">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="text-right">Change Password</h4>
                </div>
                <br/>
                <EditForm Model="@changePassword" OnValidSubmit="ChangePassword">
                    <DataAnnotationsValidator />
                    <div class="mb-3">
                        <label for="OldPassword" class="form-label">Old Password</label>
                        <div class="col-md-12">
                            <InputText type="password" class="form-control" @bind-Value="changePassword.OldPassword" />
                        </div>
                        <ValidationMessage For="@(() => changePassword.OldPassword)" />
                        @if (oldPasswordError.Length > 0)
                        {
                            <div role="alert">
                                <p class="alert alert-danger">@oldPasswordError</p>
                            </div>
                        }
                    </div>
                    <div class="mb-3">
                        <label for="NewPassword" class="form-label">New Password</label>
                        <div class="col-md-12">
                            <InputText type="password" class="form-control" @bind-Value="changePassword.NewPassword" />
                        </div>
                        <ValidationMessage For="@(() => changePassword.NewPassword)" />
                        @if (newPasswordError.Length > 0)
                        {
                            <div role="alert">
                                <p class="alert alert-danger">@newPasswordError</p>
                            </div>
                        }
                    </div>
                    <div class="mb-3">
                        <label for="ConfirmNewPassword" class="form-label">Confirm New Password</label>
                        <div class="col-md-12">
                            <InputText type="password" class="form-control" @bind-Value="changePassword.ConfirmNewPassword" />
                        </div>
                        <ValidationMessage For="@(() => changePassword.ConfirmNewPassword)" />
                        @if (newConfirmPasswordError.Length > 0)
                        {
                            <div role="alert">
                                <p class="alert alert-danger">@newConfirmPasswordError</p>
                            </div>
                        }
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary profile-button" type="submit">Change Password</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@if (showModal)
{
    <div class="modal fade show" id="myModal" style="display:block; margin-top: 150px;" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Update Email</h3>
                </div>
                <EditForm Model="@updateEmail" OnValidSubmit="UpdateUserEmail">
                    <DataAnnotationsValidator />
                    <div class="mb-3" style="margin-left: 15px;">
                        <label for="Email" class="form-label">Old Email</label>
                        <div class="col-md-10">
                            <InputText class="form-control" @bind-Value="updateEmail.Email" />
                        </div>
                        <ValidationMessage For="@(() => updateEmail.Email)" />
                        @if (emailError.Length > 0)
                        {
                            <div class="col-md-10" role="alert">
                                <p class="alert alert-danger">@emailError</p>
                            </div>
                        }
                   </div>
                    <div class="mb-3" style="margin-left: 15px;">
                        <label for="NewEmail" class="form-label">New Email</label>
                        <div class="col-md-10">
                            <InputText type="email" class="form-control" @bind-Value="updateEmail.NewEmail" />
                        </div>
                        <ValidationMessage For="@(() => updateEmail.NewEmail)" />
                        @if (newEmailError.Length > 0)
                        {
                            <div class="col-md-10" role="alert">
                                <p class="alert alert-danger">@newEmailError</p>
                            </div>
                        }
                    </div>
                </EditForm>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                        @onclick="(async () => { await UpdateUserEmail(); })">
                        Update Email
                    </button>
                    <button type="button" class="btn btn-light" @onclick="@ModalCancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    bool showModal = false;
    private int UserId = 0;

    void ModalShow() => showModal = true;
    void ModalCancel() => showModal = false;

    protected UserResponse userData = new();
    protected ChangePasswordCommand changePassword = new();
    protected UpdateUserEmailCommand updateEmail = new();

    private string emailError = "";
    private string newEmailError = "";

    private string oldPasswordError = "";
    private string newPasswordError = "";
    private string newConfirmPasswordError = "";

    protected override async Task OnInitializedAsync()
    {
        var authstate = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authstate.User;

        if (!user.Identity.IsAuthenticated) return;
        UserId = int.Parse(user.Claims.FirstOrDefault(x => x.Type == "UserId").Value);

        userData = await UserService.GetUser(UserId);
    }

    private async Task UpdateUserEmail()
    {
        if (CheckUpdateEmailFormValidation())
        {
            updateEmail.UserId = UserId;
            var result = await UserService.UpdateUserEmail(updateEmail);
            if (result.Successful)
            {
                updateEmail = new();
                showModal = false;
            }
        }
        else
        {
            showModal = true;
        }
    }

    private async Task UpdateUser()
    {
        if (userData.Id != 0)
        {
            await UserService.UpdateUser(userData);
        }
    }

    private async Task ChangePassword()
    {
        if (CheckChangePasswordFormValidation())
        {
            if (
                changePassword.OldPassword.Length > 6 &&
                changePassword.NewPassword.Length > 6 &&
                changePassword.NewPassword.Equals(changePassword.ConfirmNewPassword)
               )
            {
                changePassword.UserId = UserId;
                await AccountService.ChangePassword(changePassword);
                changePassword = new();
            }
        }
    }

    private bool CheckUpdateEmailFormValidation()
    {
        var isValid = true;
        emailError = "";  newEmailError = "";

        if (updateEmail.Email == null || updateEmail.Email?.Trim().Length < 6)
        {
            emailError = "The email must contain at least 6 characters.";
            isValid = false;
        }
        else if (!new EmailAddressAttribute().IsValid(updateEmail.Email?.Trim()))
        {
            emailError = "The email must be a valid email address.";
            isValid = false;
        }
        if (updateEmail.NewEmail == null || updateEmail.NewEmail?.Trim().Length < 6)
        {
            newEmailError = "The email must contain at least 6 characters.";
            isValid = false;
        }
        else if (!new EmailAddressAttribute().IsValid(updateEmail.NewEmail?.Trim()))
        {
            newEmailError = "The email must be a valid email address.";
            isValid = false;
        }

        return isValid;
    }

    private bool CheckChangePasswordFormValidation()
    {
        var isValid = true;
        oldPasswordError = "";  newPasswordError = ""; newConfirmPasswordError = "";

        if (changePassword.OldPassword == null || changePassword.OldPassword?.Trim().Length < 6)
        {
            oldPasswordError = "The password must contain at least 6 characters.";
            isValid = false;
        }
        if (changePassword.NewPassword == null || changePassword.NewPassword?.Trim().Length < 6)
        {
            newPasswordError = "The password must contain at least 6 characters.";
            isValid = false;
        }
        if (changePassword.ConfirmNewPassword == null)
        {
            newConfirmPasswordError = "The confirm password must not be empty.";
            isValid = false;
        }
        else if (!changePassword.NewPassword.Equals(changePassword.ConfirmNewPassword))
        {
            newConfirmPasswordError = "The passwords do not match.";
            isValid = false;
        }

        return isValid;
    }
}
