@page "/admin/subscriptions"

@attribute [Authorize(Policy = StringRoleResources.Admin)]

@inject ISubscriptionService SubscriptionService
@inject NavigationManager NavManager

<h1 class="display-3 font-weight-bold mb-0 text-primary mb-3">Subscriptions</h1>

<div class="row mb-4">
    <div class="col">
        <MatButtonLink Href="admin/subscriptions/add" Raised="true">Add Subscription</MatButtonLink>
    </div>
</div>

@if (subscriptionsList is null)
{
    <div class="d-flex justify-content-center" style="margin-top: 100px;">
        <h4 style="font-size: 45px;"><em>Loading the data...</em></h4>
    </div>
}
else
{
    @if (subscriptionsList.Count > 0)
    {
        <MatTable Items="@subscriptionsList" LoadInitialData="true" Striped="true" AllowSelection="true"
            RowClass="tester" FilterByColumnName="Name" DebounceMilliseconds="150" class="mat-elevation-z5">
            <MatTableHeader>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Currency</th>
                <th>CurrencySymbol</th>
                <th>ChargeType</th>
                <th>Options</th>
                <th class="col-md-4">Actions</th>
            </MatTableHeader>

            <MatTableRow>
                <td>@String.Format("{0:d}", @context.Id)</td>
                <td class="col-md-2">@context.Name</td>
                <td class="col-md-2">@context.Price</td>
                <td>@context.Currency</td>
                <td>@context.CurrencySymbol</td>
                <td>@context.ChargeType</td>
                <td class="col-md-6">@context.Options</td>
                <td class="col-md-4">
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Edit"
                        Color="Color.Success" @onclick="() => NavigateToPage(context.Id)">
                        Edit
                    </MudButton>
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete"
                        Color="Color.Error" @onclick="(() => { DeleteConfirm(context.Id); ModalShow(); })">
                        Delete
                    </MudButton>
                </td>
            </MatTableRow>
        </MatTable>

        @if (showModal)
        {
            <div class="modal fade show" id="myModal" style="display:block; margin-top: 150px;" aria-modal="true" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Delete Subscription</h3>
                            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Close"
                                Color="Color.Warning" @onclick="@ModalCancel"
                                data-bs-dismiss="modal" aria-label="Close">
                                Close
                            </MudButton>
                        </div>
                        <div class="modal-body">
                            <h4>Do you want to delete this subscription?</h4>
                        </div>
                        <div class="modal-footer">
                            <MudButton class="mr-2" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete"
                                Color="Color.Error" @onclick="(async () => { await DeleteSubscription(subscription.Id); ModalOk(); })">
                                Delete
                            </MudButton>
                            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel"
                                Color="Color.Warning" @onclick="@ModalCancel">
                                Cancel
                            </MudButton>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="d-flex justify-content-center" style="margin-top: 150px;">
            <h4 style="font-size: 45px;">No record found</h4>
        </div>
    }
}

@code {
    bool showModal = false;

    void ModalShow() => showModal = true;
    void ModalCancel() => showModal = false;
    void ModalOk() => showModal = false;

    protected SubscriptionResponse subscription = new();
    protected List<SubscriptionResponse> subscriptionsList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetSubscriptions();
    }

    protected async Task GetSubscriptions()
    {
        subscriptionsList = await SubscriptionService.GetSubscriptions();
    }

    protected void DeleteConfirm(int Id)
    {
        subscription = subscriptionsList.FirstOrDefault(x => x.Id == Id);
    }

    protected async Task DeleteSubscription(int Id)
    {
        await SubscriptionService.DeleteSubscription(Id);
        await GetSubscriptions();
    }

    private void NavigateToPage(int id)
    {
        NavManager.NavigateTo($"admin/subscriptions/edit/{id}");
    }
}

<style>
    label {
        width: 70%;
    }
</style>
